.App {
  text-align: center;
}

button {
  align-self: center;
  font-size: 16px;
  font-weight: bold;
  padding: 13px 20px;
  border: 1px solid;
  border-color: black;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  color: #41403e;
  line-height: 23px;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 225px 15px;
  border-top-right-radius: 15px 255px;
  user-select: none;
  margin: 20px;
}

.delete-button {
  background-color: red;
  color: white;
}

.create-button {
  background-color: aquamarine;
  color: black;
}

.form-button {
  background-color: #FFFEAB;
  color: black;
}


.food-container {
  justify-content: center; 
  align-items: center;
  border: 1px solid;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 225px 15px;
  border-top-right-radius: 15px 255px;
  margin: 20px;
  vertical-align: top;
  padding: 10px;
}

input[type=text] {
  width: 10%;
  padding: 8px 10px;
  margin: 8px 0;
  border-color: #ccc;
  border-radius: 5px;
}

input[type=number] {
  width: 10%;
  padding: 8px 10px;
  margin: 8px 0;
  border-color: #ccc;
  border-radius: 5px;
}



